<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Welcome!</h1>
    <p>
        This is a well-tested high-quality shop running on raw SPS power, selling nothing but thin air. It won't actually
        make any requests to any server, so shopping doesn't really lead to any suspicious packages showing up in your
        mailbox.
    </p>
  <p><a class="btn btn-primary btn-large" href="#/categories">Go shopping &raquo;</a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>Objective</h2>
    <p>Implement the functionality of a single-page webshop using angular.js, jsTestDriver and jasmine, showing off some tdd goodness along the way.</p>
  </div>
  <div class="span4">
    <h2>Shopping</h2>
    <p>When the coding is finished, the button below should lead to a page where you can shop for food, presented with nice little images and fantasy prices, along with small buttons allowing you to purchase the items.</p>
    <p><a class="btn" href="#/categories/food">View food &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Technical info</h2>
      <p>
          This demo uses
          <ul>
              <li>angular.js</li>
              <li>jasmine</li>
              <li>jsTestDriver</li>
              <li>bootstrap</li>
              <li>git</li>
          </ul>
      </p>
    <p><a class="btn" href="http://docs.angularjs.org/api">Angular docs &raquo;</a></p>
  </div>
</div>
